{% extends "layout.html" %}

{% set active_page = "p1" %}

{% block title %}Page 1: Name{% endblock %}

{% block content %}
  <h1>When 50mLs of ethanol is mixed with 50mLs of water, the solution has a volume of 95 mL and the container feels warm when touched. Which of the following best descibes what happened?</h1>

 <form action={{ url_for("renderp2") }} method="POST">
   <div class="container mt-3 id = "Equilibrium" required>
     <div class="form-check">
      <input type="radio" class="form-check-input" id="Sandbox" name="Equilibrium" value="A chemical reaction occurs, as evidenced by the volume being less than the total volume of the reactants" checked>
      <label class="form-check-label" for="1">A chemical reaction occurs, as evidenced by the volume being less than the total volume of the reactants</label>
     </div>
	 <div class="form-check">
      <input type="radio" class="form-check-input" id="2" value="A chemical reaction occurs, evident by forming new bonds and releasing excess energy from the breaking of bonds" name="Equilibrium">
      <label class="form-check-label" for="2">A chemical reaction occurs, evident by forming new bonds and releasing excess energy from the breaking of bonds</label>
    </div>
    <div class="form-check">
      <input type="radio" class="form-check-input" id="3" value="A physical change occurs, and solvation is exothermic" name="Equilibrium" >
      <label class="form-check-label" for="3">A physical change occurs, and solvation is exothermic</label>
    </div>
	<div class="form-check">
      <input type="radio" class="form-check-input" id="4" value="A physical change occurs, and solvation is endothermic" name="Equilibrium" >
      <label class="form-check-label" for="4">A physical change occurs, and solvation is endothermic</label>
    </div>
	<br>
	<button type="submit" class="btn btn-primary">Next Question</button>
 </div>
 </form> 


{% endblock %}
