{% extends "layout.html" %}

{% set active_page = "p2" %}

{% block title %}Page 2: Ask for your favorite color{% endblock %}

{% block content %}
  <h1>How many many atoms are in 1 mole?</h1>

<form action={{ url_for("renderp3") }} method="POST">
   <div class="container mt-3 id = "avacado" required>
     <div class="form-check">
      <input type="radio" class="form-check-input" id="5" name="avacado" value="6.02x10^23" checked>
      <label class="form-check-label" for="5">6.02x10^23</label>
     </div>
	 <div class="form-check">
      <input type="radio" class="form-check-input" id="6" name="avacado" value="6.022x10^23">
      <label class="form-check-label" for="6">6.022x10^23</label>
    </div>
    <div class="form-check">
      <input type="radio" class="form-check-input" id="7" name="avacado" value="1.00x10^23">
      <label class="form-check-label" for="7">1.00x10^23</label>
    </div>
	<div class="form-check">
      <input type="radio" class="form-check-input" id="8" name="avacado" value="1.02x10^23">
      <label class="form-check-label" for="8">1.02x10^23</label>
    </div>
	<br>
	<button type="submit" class="btn btn-primary">Next Question</button>
 </div>
 </form> 



{% endblock %}
